#vehicles-list.container
  .text-center= "#{pluralize(@vehicles.count, 'vehicle')} found"
  .row.justify-content-center
    - @vehicles.each do |v|
      .col-l-4.col-sm-6.col-xs-12
        .card.m-4.bg-dark
          .card-img-top
            = image(v['default_image_url_large'])
          .card-body
            %h5.card-title.text-center= v['name']
            .card-text
              %span VIN:
              = v['vin']
            .card-text{ data: { toggle: 'tooltip', placement: 'left'}, title: "Last Updated: #{v['updated_at']}" }
              %span ODO:
              = number_with_delimiter v['current_meter_value'].to_i
              mi
            .card-text
              %span Year
              = v['year']
          .card-footer
            = button_to 'Save', vehicles_path(vehicle: v), remote: true, class: 'btn btn-block btn-success', data: { disable_with: 'Saving!' }

